@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

//variables et extensions

$textBorder: 0 0 10px black;
$bgc: #001433;
$marineBlue: #264653;
$marineBlue40: rgba(38, 70, 83, 0.4);
$yellow: #FFD267;
$roboto: "Roboto", sans-serif;
$russo: "Russo One", sans-serif;
$white: white;
$white30: rgba(255, 255, 255, 0.3);
$upwhite10: rgba(217, 217, 217, 0.1);
%flex-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
%flex-column-start{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
%flex-spaceB{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $roboto;
    color: $white;
}

.slide{
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
}

.wrapper{
    margin: 0 auto;
}



//header

header{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: black;
    font-size: 20px;
    z-index: 100;
    
    
    .wrapper{
        height: 100%;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        z-index: 100;

        #logo{
            width: 160px;
            height: 100%;
            // display: flex;
            // justify-content: center;
            align-items: center;
            background-image: url(../../images/logo.png);
            background-size: cover;
            background-position: center center;
        }

        //Menu
        nav{
            height: 100%;
            width: 50%;
            ul{
                list-style: none;
                display: flex;
                width: 100%;
                height: 100%;
                li{
                    @extend %flex-column-start;
                    width: calc(100%/3);
                    position: relative;
                    a{
                        color: $white;
                        text-decoration: none;
                        margin: auto;
                        display: flex;
                        width: 100%;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        transition: all 0.25s;

                        &:hover{
                            background-color: #3F3F3F;
                            color: $yellow;
                        }

                    }
                    //sous-menu
                    ul{
                        position: absolute;
                        background-color: black;
                        top: 100%;
                        left: 0;
                        width: 100%;
                        height: 200%;
                        display: none;
                        flex-direction: column;
                        li{
                            width: 100%;
                            height: 100%;
                        }
                        
                    }

                    &:hover ul{
                        display: flex;
                    }
                }
            }

            @media all and (max-width: 1024px){
                display: none;
            }
        }

        .socialNetwork{
            display: flex;
            gap: 20px;
            height: 100%;
            align-items: center;
            svg{
                height: 20px;
                fill: $white;
            }

            @media all and (max-width: 550px){
                    display: none;
            }
        }
        //menu burger
        #burger{
            position: relative;
            /* top: 10%; */
            // right: 50px;
            height: 30px;
            width: 50px;
            /* background-color: red; */
            display: none;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            align-items: center;
            cursor: pointer;
            transition: all 0.5s;

            @media all and (max-width: 1024px){
                display: flex;
            }

            .bar{
                background-color: $white;
                height: 3px;
                width: 100%;
                transition: all 0.3s;
            }
            //composantes d'animation du menu burger
            .disp{
                background-color: transparent;
            }
            .rotup{
                position: absolute;
                transform-origin: center;
                transform: rotate(-45deg);
            }
            .rotd{
                position: absolute;
                transform-origin: center;
                transform: rotate(45deg);
            }
        }
    }
    //menu arrivant suite au click
    #menub{
        position: fixed;
        top: 60px;
        left: 0;
        height: calc(100vh - 60px);
        width: 100%;
        background-color: black;
        transform: translate(-100%,0);
        transition: all 0.3s;
        z-index: 90;
        @extend %flex-center;
        text-align: center;

        .menu{
            font-size: 28px;
            font-weight: bold;
            height: 216px;
            width: 100%;
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transform: translate(0, -30px);

            @media all and (max-width: 550px) {
                font-size: 16px;
            }
            

            a{
                text-decoration: none;
                color: $white;
            }
        }

        .socialNetworkBurg{
            position: absolute;
            bottom: 50px;
            display: none;
            gap: 20px;
            align-items: center;
            @media all and (max-width: 550px) {
                display: flex;
            }
            svg{
                height: 20px;
                fill: $white;
            }
        }
    }
}

.open{
    #burger{
        // gap: 0px;
        width: 50px;
    }

    #menub{
        transform: translate(0,0);
    }


}

//footer

footer{
    position: relative;
    min-height: 200px;
    width: 100%;
    overflow: hidden;
    .fondu{
        position: relative;
    }
    //première partie du footer
    .footerMenu{
        background-color: black;
        height: 140px;
        width: 100%;
        font-size: 16px;
        font-weight: bold;

        @media all and (max-width: 960px){
                height: 350px;
        }

        .wrapper{
            width: 90%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media all and (max-width: 960px){
                flex-direction: column;
                justify-content: flex-start;
            }

            img{
                height: 140px;
            }

            .menu{
                width: 40%;
                display: flex;
                justify-content: space-between;
                list-style: none;

                @media all and (max-width: 960px){
                flex-direction: column;
                align-items: center;
                gap: 20px;
                margin-bottom: 20px;
                }

                a{
                    text-decoration: none;
                    color: $white;
                }

            }
            .socialNetwork{
                display: flex;
                gap: 20px;
                svg{
                    height: 20px;
                    fill: $white;

                    @media all and (max-width: 960px){
                        height: 28px;
                    }

                }
            }
        }
    }
    //seconde partie du footer
    .copy{
        background-color: black;
        height: 60px;
        border-top: solid 1px $white;

        .wrapper{
            width: 90%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 13px;
            font-weight: bold;

            @media all and (max-width: 960px){
                font-size: 10px;
                font-weight: normal;
                width: 100%;
                padding: 0 10px;
                
            }
            .legal{
                text-align: center;
                a{
                    text-decoration: none;
                    color: $white;
    
                    &:hover{
                        text-decoration: underline;
                    }
                }

                @media all and (max-width: 960px){
                    max-width: 186px;
                }
                @media all and (max-width: 340px){
                    max-width: 100px;
                }
            }
        }
    }
}


//page home
//slide de background de la page home

.bg{
    background-image: url(../../images/starRotation2.jpg);
    background-size: cover;
    background-position: center center;
    position: fixed;
    z-index: -1;
    background-color: $bgc;
    overflow: hidden;

    img{
        width: 20%;
        position: absolute;
        transition: all 0.4s;
        transition-timing-function: ease-in-out;
        &.taki, &.mitsu{
            @media all and (max-width: 950px){
                width: 30%;
            }
            @media all and (max-width: 460px){
                width: 40%;
            }
        }
        &.chi, &.sho{
            @media all and (max-width: 765px){
                display: none;
            }
        }
    }

    .taki, .chi{
        bottom: 0;
        left: 0;
    }

    .mitsu{
        bottom: 0;
        right: 0;
    }

    .chi{
        transform: translate(-100%,50%);
        @media all and (max-width: 980px){
            width: 25%;
        }
    }

    .sho{
        width: 15%;
        top: 50%;
        right: 0;
        transform: translate(100%, -45%);
        @media all and (max-width: 1280px){
            width: 20%;
        }
    }

}

//reglage du dégradé au bas de la page home
.fondu{
    overflow: hidden;
    background: linear-gradient(transparent, black);
    height: 125px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 200;

    @media all and (max-width: 1024px){
        height: 100px;
    }
    @media all and (max-width: 960px){
        height: 80px;
    }
    @media all and (max-width: 450px){
        height: 50px;
    }
}

//contenu de la page home
@keyframes goMiddle {
    0%{
        transform: translate(0,-100%);
    }
    100%{
        transform: translate(0, 0);
    }
}

.content{
    .text{
        font-family: $russo;
        width: 60%;
        padding-top: 180px;
        transform: translate(0,-100%);
        animation-name: goMiddle;
        animation-delay: 1s;
        animation-duration: 1.65s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
        @media all and (max-height:810px){
            padding-top: 90px;
        }
        @media all and (max-width: 950px){
            width: 80%;
        }
        @media all and (max-width: 550px){
            width: 90%;
        }
        @media all and (max-width: 460px){
            width: 100%;
        }
        // @media all and (max-height:700px){
        //     padding-top: 70px;
        // }
        @media all and (max-width: 46px){
            padding-top: 100px;
        }
        @extend %flex-column;
    
        .fest{
            color: $yellow;
            @extend %flex-column;
            text-shadow: $textBorder;
            margin-bottom: 30px;
            text-align: center;
            @media all and (max-width: 460px){
                margin-bottom: 110px;
            }
            
            h4{
                font-size: 24px;
                font-weight: normal;
                @media all and (max-width: 950px){
                    font-size: 22px;
                }
                @media all and (max-width: 900px){
                    font-size: 18px;
                }
                @media all and (max-width: 460px){
                    font-size: 16px;
                }
            }
            h1{
                font-size: 48px;
                font-weight: normal;
                @media all and (max-width: 1130px){
                    font-size: 40px;
                }
                @media all and (max-width: 950px){
                    font-size: 38px;
                }
                @media all and (max-width: 900px){
                    font-size: 30px;
                }
                @media all and (max-width: 460px){
                    font-size: 24px;
                }
    
            }
            h3{
                font-size: 26px;
                font-weight: normal;
                @media all and (max-width: 950px){
                    font-size: 24px;
                }
                @media all and (max-width: 900px){
                    font-size: 20px;
                }
                @media all and (max-width: 460px){
                    font-size: 18px;
                }
            }
        }
        @keyframes apparition {
            0%{
            opacity: 0;  
            }
            100%{
                opacity: 1;
            }
        }
        img{
            width: 45%;
            margin-bottom: 45px;
            opacity: 0;
            animation-name: apparition;
            animation-delay: 2.65s;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            @media all and (max-width: 1130px){
                width: 55%;
            }
            @media all and (max-width:950px){
                width: 70%;
                margin-bottom: 60px;
            }
            @media all and (max-width: 460px){
                width: 60%;
                margin-bottom: 30px;
            }
            @media all and (max-width:375px){
                width: 70%;
            }
            // @media all and (max-height:700px){
            //     width: 45%;
            // }
        }
        .date{
            font-size: 40px;
            line-height: 50px;
            font-weight: normal;
            color: $yellow;
            text-shadow: $textBorder;
            filter: drop-shadow(0 0 3px $yellow);
            @media all and (max-width: 950px){
                font-size: 36px;
                line-height: 40px;
            }
            @media all and (max-width: 900px){
                font-size: 28px;
                line-height: 32px;
            }
            @media all and (max-width: 460px){
                font-size: 22px;
                line-height: 26px;
                margin-bottom: 30px;
            }
        }
        .countdowns{
            @extend %flex-column;
            margin-bottom: 50px;
            @media all and (max-width: 1130px){
                margin-bottom: 20px;
            }
            @media all and (max-width: 950px){
                margin-bottom: 30px;
            }
            
    
            h4{
                font-size: 20px;
                font-weight: normal;
                text-align: center;
                &.none{
                    display: none;
                }
                @media all and (max-width: 950px){
                    font-size: 18px;
                }
                @media all and (max-width: 900px){
                    font-size: 16px;
                }
                @media all and (max-width: 460px){
                    font-size: 14px;
                }
            }
            .countdown{
                font-size: 26px;
            }
        }
        .btn{
            background-color: black;
            padding: 10px 30px;
            border-radius: 30px;
            outline: 0.5px solid $yellow;
            display: block;
            text-decoration: none;
            color: $yellow;
            font-family: $roboto;
            font-weight: bold;
            font-size: 24px;
            @media all and (max-width: 950px){
                font-size: 22px;
            }
            @media all and (max-width: 460px){
                font-size: 20px;
                padding: 5px 15px;
            }
        }
    }
}

//partie info de la page home
#infos{
    .info{
        width: 60%;
        background-color: rgba(44, 111, 199, 0.4);
        padding: 10px  10px 15px;
        margin-top: 150px;
        text-shadow: $textBorder;
        @media all and (max-width: 765px) {
            width: 70%;
        }
        @media all and (max-width: 450px){
            width: 90%;
        }
        h1{
            font-family: $russo;
            width: 100%;
            text-align: center;
            font-size: 48px;
            font-weight: normal;
            line-height: 58px;
            filter: drop-shadow(0 0 3px $white);
            @media all and (max-width: 1024px){
                font-size: 44px;
                line-height: 54px;
                margin-bottom: 10px;
            }
            @media all and (max-width: 765px) {
                font-size: 40px;
            }
            @media all and (max-width: 450px){
                font-size: 36px;
                line-height: 43px;
                margin-bottom: 20px;
            }
        }
        .card{
            display: flex;
            .space{
                width: 100px;
                @extend %flex-column;
                @media all and (max-width: 1024px){
                    width: 80px;
                }
                @media all and (max-width: 450px){
                    width: 50px;
                }
                svg{
                    fill: $white;
                    height: 44px;
                    @media all and (max-width: 1024px){
                        height: 39px;
                    }
                    @media all and (max-width: 450px){
                        height: 36px;
                    }
                }
            }
            .text{
                width: calc(100% - 200px);
                margin-bottom: 45px;
                @media all and (max-width: 1024px){
                    width: calc(100% - 160px);
                }
                @media all and (max-width: 450px){
                    width: calc(100% - 100px);
                }
                h2{
                    font-family: $russo;
                    font-size: 40px;
                    font-weight: normal;
                    line-height: 44px;
                    margin-bottom: 30px;
                    display: flex;
                    align-items: center;
                    @media all and (max-width: 1024px){
                        font-size: 36px;
                        line-height: 39px;
                    }
                    @media all and (max-width: 765px) {
                        font-size: 33px;
                    }
                    @media all and (max-width: 450px){
                        font-size: 30px;
                        line-height: 33px;
                    }
                }
                p{
                    color: $yellow;
                    font-size: 28px;
                    letter-spacing: 2%;
                    @media all and (max-width: 1024px){
                        font-size: 25px;
                    }
                    @media all and (max-width: 765px) {
                        font-size: 22px;
                    }
                    @media all and (max-width: 450px){
                        font-size: 20px;
                    }
                    &.ou{
                        margin-bottom: 1em;
                    }
                }
                &.der{
                    margin-bottom: 0
                }
            }
        }
        .trait{
            height: 1px;
            width: 100%;
            margin-bottom: 45px;
            background-color: $white;
        }
    }
}

//swiper
#swiper{
    display: flex;
    @media all and (max-width: 560px){
        min-height: 50vh;
    }
    .swiper {
        margin: auto;
        width: 50%;
        height: 40vh;
        overflow: visible;
        padding: 0;
        $swipers: swiper_1, swiper_2, swiper_3, swiper_4, swiper_5, swiper_6;
        @media all and (max-width: 850px){
            width: 70%;
        }
        @media all  and (max-width: 560px){
            width: 80%;
            height: 20vh;
        }

        @each $swiper in $swipers{
            .#{$swiper} {
                background-image: url('../../images/swiper/#{$swiper}.jpg');
                background-size: cover;
                background-position: center;
                text-align: center;
                font-size: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        
        // .swiper-slide img {
        //     display: block;
        //     width: 100%;
        //     height: 100%;
        //     object-fit: cover;
        // }
        .swiper-button-prev, .swiper-button-next {
            margin: 0;
            height: 70px;
            width: 44.8px;
            overflow: visible;
            position: absolute;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            @media all and (max-width: 560px){
                height: 35px;
                width: 22.4px;
            }
            
            &::after {
                display: none; // Hide default arrow
            }
        }
        .swiper-button-prev {
            left: 0;
            transform: translate(calc(-100% - 33px),-50%);
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23ffffff' d='M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L69.3 256 214.6 110.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z'/%3E%3C/svg%3E");
            @media all and (max-width: 560px){
                transform: translate(calc(-100% - 15px),-50%);
            }
            @media all and (max-width: 415px){
                transform: translate(calc(-100% - 7px),-50%);
            }
        }
    
        .swiper-button-next {
            right: 0;
            transform: translate(calc(100% + 33px),-50%);
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23ffffff' d='M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z'/%3E%3C/svg%3E");
            @media all and (max-width: 560px){
                transform: translate(calc(100% + 15px),-50%);
            }
            @media all and (max-width: 415px){
                transform: translate(calc(100% + 7px),-50%);
            }
        }
    
        
    
        .swiper-pagination {
            position: relative;
            transform: translate(0, calc(50% + 20px));
            .swiper-pagination-bullet {
                background-color: $white;
                opacity: 1;
                width: 15px;
                height: 15px;
                margin: 0 10px;
            }
            .swiper-pagination-bullet-active {
                background-color: #000;
                border: 1px solid $yellow;
            }
        }
    }
    
}

//liste de films
#list{
    background-color: $bgc;
    position: relative;
    padding: 110px 0;
    .wrapper{
        width: 80%;
        background-color: $white30;
        @extend %flex-column;
        font-family: $russo;
        padding-bottom: 30px;
        @media all and (max-width: 1440px){
            width: 90%;
        }
        h1{
            font-size: 48px;
            line-height: 81px;
            font-weight: normal;
            align-self: flex-start;
            margin: 0 50px;
            @media all and (max-width: 1024px){
                font-size: 40px;
            }
            @media all and (max-width: 630px){
                font-size: 32px;
                align-self: center;
                line-height: 100px;
            }
            @media all and (max-width: 400px){
                font-size: 28px;
            }
        }
        .list{
            width: 90%;
            background-color: rgba(46, 58, 89, 0.5);
            padding: 25px 50px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px 20px;
            @media amm and (max-width: 1280px){
                padding: 15px 50px;
            }
            @media all and (max-width: 1120px){
                padding: 15px 30px;
                width: 95%;
            }
            @media all and (max-width: 1024px){
                width: 90%;
                padding: 15px 25px;
                grid-template-columns: repeat(2, 1fr);
                gap: 30px 57px;
            }
            @media all and (max-width: 810px){
                gap: 30px 40px;
                padding: 15px 20px;
            }
            @media all and (max-width: 780px){
                gap: 30px 30px;
                padding: 15px 15px;
            }
            @media all and (max-width: 690px){
                width: 95%;
                gap: 30px 20px;
            }
            @media all and (max-width: 660px){
                gap: 30px 10px;
            }
            @media all and (max-width:630px){
                grid-template-columns: 1fr;
                padding: 20px 50px;
            }
            @media all and (max-width: 520px){
                padding: 20px 25px;
            }
            @media all and (max-width: 460px){
                padding: 20px 15px;
            }

            .film-card{
                background-color: $white30;
                height: 50vh;
                text-decoration: none;
                color: $white;
                @extend %flex-column;
                transition: all 0.3s ease-in-out;
                h2{
                    height: 12.5%;
                    @extend %flex-center;
                    font-size: 26px;
                    font-weight: normal;
                    transition: all 0.3s ease-in-out;
                    @media all and (max-width: 1265px){
                        font-size: 24px;
                    }
                    @media all and (max-width: 1180px){
                        font-size: 22px;
                    }
                    @media all and (max-width: 1100px){
                        font-size: 20px;
                    }
                    @media all and (max-width: 1024px){
                        font-size: 26px;
                    }
                    @media all and (max-width: 850px){
                        font-size: 24px;
                    }
                    @media all and (max-width: 780px){
                        font-size: 22px;
                    }
                    @media all and (max-width: 690px){
                        font-size: 20px;
                    }
                    @media all and (max-width:630px){
                        font-size: 28px;
                    }
                    @media all and (max-width: 460px){
                        font-size: 26px;
                    }
                    @media all and (max-width: 400px){
                        font-size: 24px;
                    }
                    @media all and (max-width: 370px){
                        font-size: 22px;
                    }
                }
                .cover{
                    height: 75%;
                }
                .more{
                    font-family: $roboto;
                    font-size: 20px;
                    height: 12.5%;
                    width: 100%;
                    @extend %flex-center;
                    text-decoration: none;
                    color: $white;
                    transition: all 0.3s ease-in-out;
                    @media all and (max-width: 1265px){
                        font-size: 18px;
                    }
                    @media all and (max-width: 1180px){
                        font-size: 16px;
                    }
                    @media all and (max-width: 1024px){
                        font-size: 20px;
                    }
                    @media all and (max-width: 850px){
                        font-size: 18px;
                    }
                    @media all and (max-width: 780px){
                        font-size: 16px;
                    }
                    @media all and (max-width:630px){
                        font-size: 24px;
                    }
                    @media all and (max-width: 460px){
                        font-size: 22px;
                    }
                    @media all and (max-width: 400px){
                        font-size: 20px;
                    }
                }
                &:hover{
                    background-color: $bgc;
                    transform: scale(1.02);
                    h2{
                        color: $yellow;
                    }
                    .more{
                        color: $yellow;
                    }
                }
            }
        }
    }

}

//page d'infos sur les films
#details{
    background-color: $bgc;
    .wrapper{
        overflow: hidden;
        width: 90%;
        padding-top: 90px;
        .title{
            font-family: $russo;
            margin-bottom: 40px;
            h1{
                font-size: 48px;
                line-height: 58px;
                font-weight: normal;
            }
            h4{
                font-size: 24px;
                line-height: 29px;
                font-weight: normal;
            }
        }
        #filmsDetails{
            width: 100%;
            height: 50vh;
            min-height: 359px;
            background-color: $white30;
            padding: 22px 20px;
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
            margin-bottom: 50px;
            @media all and (max-width: 1024px){
                padding: 50px 20px;
            }
            @media all and (max-width: 750px){
                height: 45vh;
                padding: 60px 15px;
                gap: 30px;
            }
            @media all and (max-width: 665px){
                height: 40vh;
                gap: 15px;
            }
            @media all and (max-width: 605px){
                flex-direction: column;
                align-items: center;
                height: fit-content;
                gap: 0;
                padding: 0 20px;
            }

            //affiche du film

            .filmsCover{
                height: 100%;
                @media all and (max-width: 605px){
                    height: fit-content;
                    padding: 35px 0;
                }
                img{
                    height: 100%;
                    @media all and (max-width: 605px){
                    height: 37vh;
                    }
                }
                
            }

            //détails et infos sur le film

            .filmsDetails{
                @extend %flex-column-start;
                justify-content: space-between;
                height: 100%;
                width: 60%;
                flex: 1;
                @media all and (max-width: 605px){
                    width: 100%;
                    justify-content: flex-start;
                    gap: 40px;
                    align-items: center;
                    padding-bottom: 40px;
                }
                .picto{
                    display: flex;
                    gap: 6px;
                    div{
                        @extend %flex-center;
                        font-weight: bold;
                        font-size: 18px;
                        background-color: $marineBlue;
                        width: 85px;
                        height: 40px;
                        border-radius: 10px;
                    }
                    @media all and (max-width: 1024px){
                        gap: 10px;
                        div{
                            width: 79px;
                            height: 37px;
                            font-size: 16px;
                        }
                    }
                    @media all and (max-width: 720px){
                        gap: 5px;
                    }
                    @media all and (max-width: 605px){
                        justify-content: space-between;
                        width: 100%;
                        gap: 6PX;
                        div{
                            font-size: 14px;
                            height: 40px;
                        }
                    }
                }
                .resume{
                        height: 200px;
                        overflow-y: auto;     /* Affiche toujours la scrollbar verticale */
                        overflow-x: hidden;     /* Masque totalement le scroll horizontal */
                        display: flex;
                        align-items: center;
                        font-size: 18px;
                        @media all and (max-width: 1830px){
                            font-size: 16px;
                        }
                        @media (max-height: 830px){
                            font-size: 16px;
                        }
                        @media all and (max-width: 1143px){
                            align-items: flex-start;
                        }
                        @media all and (max-width: 1024px){
                            height: 140px;
                        }
                        @media all and (max-width: 750px){
                            height: 110px;
                        }
                        @media all and (max-width: 605px){
                            height: 185px;
                        }
                        p{
                            letter-spacing: 5%;
                            b{
                                font-weight: 500;
                            }
                        }
                }
                .real{
                    @extend %flex-column-start;
                    flex-wrap: nowrap;
                    gap: 15px;
                    @media all and (max-width: 605px){
                        width: 100%;
                    }
                    .realisation, .production{
                        display: flex;
                        gap: 50px;
                        @media all and (max-width: 605px){
                            gap: 30px;
                        }
                        .picto{
                            @media all and (max-width: 605px){
                                    width: 90px;
                                }
                            div{
                                height: 30px;
                                width: 117px;
                                font-size: 20px;
                                @media all and (max-width: 1024px){
                                    font-size: 18px;
                                    width: 121px;
                                }
                                @media all and (max-width: 605px){
                                    font-size: 14px;
                                }
                            }
                        }
                        .art{
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 30px;
                            @media all and (max-width: 1024px){
                                font-size: 18px;
                            }
                            @media all and (max-width: 605px){
                                font-size: 20px;
                            }
                            @media all and (max-width: 360px){
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }

        #horaire{
            width: 100%;
            margin-bottom: 50px;
            background-color: $white30;
            padding-bottom: 20px;
            @media all and (max-width: 500px){
                text-align: center;
                padding-bottom: 25px;
            }
            h1{
                padding: 20px;
                font-family: $russo;
                font-size: 40px;
                line-height: 48px;
                font-weight: normal;
                @media all and (max-width: 1024px){
                    font-size: 36px;
                    line-height: 43px;
                    padding: 20px 20px 10px;
                }
                @media all and (max-width: 500px){
                    font-size: 32px;
                    line-height: 100px;
                    padding: 0;
                }
            }
            .prog{
                    width: 100%;
                    @extend %flex-column;
                    justify-content: center;
                    .sep{
                        width: 90%;
                        height: 1px;
                        background-color: black;
                    }
                    .day{
                        width: 90%;
                        display: flex;
                        height: 50px;
                        text-decoration: none;
                        color: $white;
                        transition: all 0.5s ease-in-out;
                        @media all and (max-width: 705px){
                            height: 60px;
                        }
                        @media all and (max-width: 630px){
                            height: 50px;
                        }
                        &:hover{
                            background-color: $marineBlue40;
                            .tickets{
                                color: $yellow;
                            }
                        }
                        &.d18{
                            border-top: 1px solid black;
                        }
                        &.d20{
                            border-bottom: 1px solid black;
                        }
                        div{
                            flex: 1;
                            @extend %flex-center;
                            font-size: 20px;
                            text-align: center;
                            @media all and (max-width: 1024px){
                                font-size: 18px;
                            }
                            @media all and (max-width: 705px){
                                font-size: 20px;
                            }
                            @media all and (max-width: 630px){
                                font-size: 18px;
                            }
                            @media all and (max-width: 500px){
                                font-size: 14px;
                            }

                            &.date{
                                font-size: 24px;
                                font-weight: 600;
                                @media all and (max-width: 1024px){
                                    font-size: 20px;
                                }
                                @media all and (max-width: 705px){
                                    font-size: 22px;
                                }
                                @media all and (max-width: 630px){
                                    font-size: 20px;
                                }
                                @media all and (max-width: 500px){
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
        }

        //bande annonce du film

        .ba{
            width: 100%;
            @extend %flex-center;
            margin-bottom: 50px;
            .video-frame{
                width: 55%;
                aspect-ratio: 16 / 9;
                position: relative;
                @media all and (max-width: 1024px){
                    width: 40%;
                }
                @media all and (max-width: 890px){
                    aspect-ratio: 4 / 3;
                }
                @media all and (max-width: 670px){
                    width: 50%;
                }
                @media all and (max-width: 535px){
                    width: 60%;
                }
                @media all and (max-width: 445px){
                    width: 70%;
                }
                iframe{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

//partie sur la vente de billets

#tickets{
    background-color: $bgc;
    overflow: hidden;
    .wrapper{
        width: 80%;
        min-height: 80vh;
        background-color: $white30;
        margin-top: 110px;
        @extend %flex-column-start;
        @media all and (max-width: 600px){
            height: fit-content;
        }
        h1{
            font-size: 48px;
            font-family: $russo;
            line-height: 100px;
            padding: 0 30px;
            font-weight: normal;
            width: 100%;
            @media all and (max-width: 1120px){
                line-height: 92px;
                font-size: 40px;
                padding: 0 24px;
            }
            @media all and (max-width: 600px){
                line-height: 100px;
                font-size: 32px;
                text-align: center;
            }
        }
        .tickets{
            display: flex;
            width: 100%;
            flex: 1;
            @media all and (max-width: 600px){
                flex-direction: column;
            }
            .pres{
                width: 50%;
                border-right: 1px solid $white;
                @extend %flex-column;
                @media all and (max-width: 600px){
                    width: 100%;
                    border-right: none;
                    border-bottom: 1px solid $white;
                }
                .filmCover{
                    width: min(45%, 310px);
                    @media all and (max-width: 1120px){
                        width: min(53%, 250px);
                    }
                    @media all and (max-width: 840px){
                        width: 60%;
                    }
                    img{
                        width: 100%;
                    }
                }
                .details{
                    flex: 1;
                    // padding-top: 20px;
                    @extend %flex-column;
                    justify-content: center;
                    width: 100%;
                    > div{
                        width: calc(100% - 100px);
                        height: 57px;
                        font-size: 24px;
                        font-weight: 500;
                        @extend %flex-center;
                        @media all and (max-width: 1120px){
                            font-size: 20px;
                            width: calc(100% - 40px);
                        }
                        @media all and (max-width: 840px){
                            font-size: 18px;
                        }
                        @media all and (max-width: 700px){
                            font-size: 16px;
                        }
                        @media all and (max-width: 600px){
                            font-size: 20px;
                            width: 100%;
                            padding: 42px 0;
                        }
                        @media all and (max-width: 340px){
                            font-size: 18px;
                        }
                        &.bordb{
                            border-bottom: solid 1px $white;
                        }
                        &.vers{
                            div{
                                font-size: 20px;
                                font-weight: 400;
                                background-color: $marineBlue;
                                @extend %flex-center;
                                height: 41px;
                                width: 95px;
                                border-radius: 10px;
                                @media all and (max-width: 1120px){
                                    font-size: 18px;
                                }
                                @media all and (max-width: 840px){
                                    font-size: 16px;
                                }
                                @media all and (max-width: 600px){
                                    font-size: 20px;
                                }
                            }
                        }
                        &.dateTime{
                            justify-content: space-between;
                            padding: 0 33px;
                            @media all and (max-width: 1120px){
                                padding: 0 30px;
                            }
                            @media all and (max-width: 780px){
                                padding: 0 15px;
                            }
                            @media all and (max-width: 700px){
                                padding: 0;
                            }
                            @media all and (max-width: 600px){
                                padding: 0 45px;
                            }
                            @media all and (max-width: 450px){
                                padding: 0 30px;
                            }
                            @media all and (max-width: 370px){
                                padding: 0 15px;
                            }
                        }
                    }
                }
            }
            .pay{
                width: 50%;
                @media all and (max-width: 600px){
                    width: 100%;
                }
                .tarif{
                    width: 100%;
                    padding: 0 20px;
                    height: 97px;
                    @extend %flex-spaceB;
                    font-size: 20px;
                    font-weight: 500;
                    @media all and (max-width: 750px){
                        font-size: 18px;
                    }
                    @media all and (max-width: 640px){
                        padding: 0 10px;
                    }
                    @media all and (max-width: 600px){
                        font-size: 20px;
                        padding: 0 15px;
                    }
                    @media all and (max-width: 350px){
                        font-size: 18px;
                    }
                    &.otherBg{
                        background-color: $upwhite10;
                    }
                    .tType, .price, .counter{
                        flex: 1;
                        display: flex;
                    }
                    .tType{
                        justify-content: flex-start;
                        text-align: center;
                    }
                    .price{
                        gap: 6px;
                        justify-content: center;
                    }
                    .counter{
                        justify-content: flex-end;
                        align-items: center;
                        gap: 15px;
                        @media all and (max-width: 1120px){
                            gap: 3px;
                        }
                        button, .count{
                            border: 1px solid black;
                            background-color: $white;
                            color: black;
                        }
                        button{
                            width: 30px;
                            height: 30px;
                            border-radius: 5px;
                            cursor: pointer;
                            font-family: $roboto;
                            font-size: 20px;
                            font-weight: 500;
                            @extend %flex-center;
                            @media all and (max-width: 1120px){
                                width: 27px;
                                height: 27px;
                            }
                            @media all and (max-width: 700px){
                                width: 24px;
                                height: 24px;
                            }
                            svg{
                                width: 18px;
                                @media all and (max-width: 1120px){
                                    width: 16px;
                                }
                                @media all and (max-width: 700px){
                                    width: 14px;
                                }
                            }
                        }
                        .count{
                            height: 30px;
                            width: 44px;
                            border-radius: 5px;
                            @extend %flex-center;
                            @media all and (max-width: 1120px){
                                width: 42px;
                                border-radius: 10px;
                            }
                            @media all and (max-width: 700px){
                                width: 35px;
                            }
                            @media all and (max-width: 600px){
                                width: 40px;
                            }
                        }
                    }
                }
                .cost{
                    width: 100%;
                    padding: 0 20px;
                    height: calc(100% - (3*97px));
                    @extend %flex-spaceB;
                    font-size: 20px;
                    font-weight: 500;
                    @media all and (max-width: 700px){
                        font-size: 18px;
                    }
                    @media all and (max-width: 600px){
                        font-size: 20px;
                        height: 260px;
                        padding: 0 15px;
                    }
                    @media all and (max-width: 350px){
                        font-size: 18px;
                    }
                    .total, .sum, .payment{
                        flex: 1;
                        display: flex;
                    }
                    .total{
                        text-align: center;
                        
                    }
                    .sum{
                        gap: 6px;
                        justify-content: center;
                    }
                    .payment{
                        justify-content: flex-end;
                        text-decoration: none;
                        button{
                            width: 131px;
                            height: 44px;
                            cursor: pointer;
                            font-family: $roboto;
                            font-size: 24px;
                            font-weight: bold;
                            border-radius: 10px;
                            color: $yellow;
                            background-color: black;
                            border: 0;
                            @media all and (max-width: 1120px){
                                width: 95px;
                            }
                            @media all and (max-width: 700px){
                                font-size: 20px;
                                width: 80px;
                                height: 38px;
                            }
                            @media all and (max-width: 600px){
                                width: 86px;
                                height: 44px;
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}

//Partie contact

#contact{
    background-color: $bgc;
    padding-top: 160px;
    overflow: hidden;
    .wrapper{
        background-color: $white30;
        width: 80%;
        min-height: 60vh;
        display: flex;
        flex-wrap: wrap;
        .form, .ourContact{
            width: 50%;
            padding: 20px 30px;
            h1{
              font-size: 40px;
              font-weight: 400;
              font-family: $russo;
              padding-bottom: 30px;
            }
            form{
                width: 100%;
                @extend %flex-column-start;
                .form-group{
                    width: 100%;
                    input, textarea{
                        background-color: transparent;
                        font-family: $roboto;
                        color: $white;
                        font-size: 28px;
                        line-height: 28px;
                        width: 100%;
                    }
                    input{
                        border-bottom: 1px solid $white;
                        border-top: 0;
                        border-left: 0;
                        border-right: 0; 
                        margin-bottom: 30px;
                        &[type="email"]{
                            margin-bottom: 40px;
                        }
                    }
                    textarea{
                        border: 1px solid $white;
                        resize: none;
                        height: 75px;
                        padding: 10px;
                        margin-bottom: 45px;
                    }
                }
                input[type="submit"]{
                    width: 177px;
                    height: 35px;
                    background-color: $bgc;
                    font-family: $roboto;
                    font-size: 24px;
                    line-height: 25px;
                    color: $white;
                    border: 0;
                    cursor: pointer;
                    border-radius: 10px;
                    transition: all 0.3s;
                    &:hover{
                        background-color:#000000;
                        color: $yellow;
                    }
                }
            }
        }
        .form{
            border-right: 1px solid $white;
        }
    }
}

