@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    color: white;
}

.slide{
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
}

.wrapper{
    margin: 0 auto;
}

//variables et extensions

$textBorder: 0 0 1px black;
$bgc: #001433;
$yellow: #FFD267;

//header

header{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: black;
    font-size: 20px;
    z-index: 100;
    
    
    .wrapper{
        height: 100%;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        z-index: 100;

        #logo{
            width: 160px;
            height: 100%;
            // display: flex;
            // justify-content: center;
            align-items: center;
            background-image: url(../../images/logo.png);
            background-size: cover;
            background-position: center center;
        }

        //Menu
        nav{
            height: 100%;
            width: 50%;
            ul{
                list-style: none;
                display: flex;
                width: 100%;
                height: 100%;
                li{
                    display: flex;
                    flex-direction: column;
                    width: calc(100%/3);
                    position: relative;
                    a{
                        color: white;
                        text-decoration: none;
                        margin: auto;
                        display: flex;
                        width: 100%;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        transition: all 0.25s;

                        &:hover{
                            background-color: #3F3F3F;
                            color: $yellow;
                        }

                    }
                    //sous-menu
                    ul{
                        position: absolute;
                        background-color: black;
                        top: 100%;
                        left: 0;
                        width: 100%;
                        height: 200%;
                        display: none;
                        flex-direction: column;
                        li{
                            width: 100%;
                            height: 100%;
                        }
                        
                    }

                    &:hover ul{
                        display: flex;
                    }
                }
            }

            @media all and (max-width: 1024px){
                display: none;
            }
        }

        .socialNetwork{
            display: flex;
            gap: 20px;
            height: 100%;
            align-items: center;
            svg{
                height: 20px;
                fill: white;
            }

            @media all and (max-width: 550px){
                    display: none;
            }
        }
        //menu burger
        #burger{
            position: relative;
            /* top: 10%; */
            // right: 50px;
            height: 30px;
            width: 50px;
            /* background-color: red; */
            display: none;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            align-items: center;
            cursor: pointer;
            transition: all 0.5s;

            @media all and (max-width: 1024px){
                display: flex;
            }

            .bar{
                background-color: white;
                height: 3px;
                width: 100%;
                transition: all 0.3s;
            }
            //composantes d'animation du menu burger
            .disp{
                background-color: transparent;
            }
            .rotup{
                position: absolute;
                transform-origin: center;
                transform: rotate(-45deg);
            }
            .rotd{
                position: absolute;
                transform-origin: center;
                transform: rotate(45deg);
            }
        }
    }
    //menu arrivant suite au click
    #menub{
        position: fixed;
        top: 60px;
        left: 0;
        height: calc(100vh - 60px);
        width: 100%;
        background-color: black;
        transform: translate(-100%,0);
        transition: all 0.3s;
        z-index: 90;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .menu{
            font-size: 28px;
            font-weight: bold;
            height: 216px;
            width: 100%;
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transform: translate(0, -30px);

            @media all and (max-width: 550px) {
                font-size: 16px;
            }
            

            a{
                text-decoration: none;
                color: white;
            }
        }

        .socialNetworkBurg{
            position: absolute;
            bottom: 50px;
            display: none;
            gap: 20px;
            align-items: center;
            @media all and (max-width: 550px) {
                display: flex;
            }
            svg{
                height: 20px;
                fill: white;
            }
        }
    }
}

.open{
    #burger{
        // gap: 0px;
        width: 50px;
    }

    #menub{
        transform: translate(0,0);
    }


}

//footer

footer{
    position: relative;
    min-height: 200px;
    width: 100%;
    .fondu{
        position: relative;
    }
    //première partie du footer
    .footerMenu{
        background-color: black;
        height: 140px;
        width: 100%;
        font-size: 16px;
        font-weight: bold;

        @media all and (max-width: 960px){
                height: 350px;
        }

        .wrapper{
            width: 90%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media all and (max-width: 960px){
                flex-direction: column;
                justify-content: flex-start;
            }

            img{
                height: 140px;
            }

            .menu{
                width: 40%;
                display: flex;
                justify-content: space-between;
                list-style: none;

                @media all and (max-width: 960px){
                flex-direction: column;
                align-items: center;
                gap: 20px;
                margin-bottom: 20px;
                }

                a{
                    text-decoration: none;
                    color: white;
                }

            }
            .socialNetwork{
                display: flex;
                gap: 20px;
                svg{
                    height: 20px;
                    fill: white;

                    @media all and (max-width: 960px){
                        height: 28px;
                    }

                }
            }
        }
    }
    //seconde partie du footer
    .copy{
        background-color: black;
        height: 60px;
        border-top: solid 1px white;

        .wrapper{
            width: 90%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 13px;
            font-weight: bold;

            @media all and (max-width: 960px){
                font-size: 10px;
                font-weight: normal;
                width: 100%;
                padding: 0 10px;
                
            }
            .legal{
                text-align: center;
                a{
                    text-decoration: none;
                    color: white;
    
                    &:hover{
                        text-decoration: underline;
                    }
                }

                @media all and (max-width: 960px){
                    max-width: 186px;
                }
                @media all and (max-width: 340px){
                    max-width: 100px;
                }
            }
        }
    }
}


//page home
//slide de background de la page home

.bg{
    background-image: url(../../images/starRotation2.jpg);
    background-size: cover;
    background-position: center center;
    position: fixed;
    z-index: -1;
    background-color: $bgc;
    overflow: hidden;

    img{
        width: 20%;
        position: absolute;
        transition: all 0.4s;
        transition-timing-function: ease-in-out;
    }

    .taki, .chi{
        bottom: 0;
        left: 0;
    }

    .mitsu{
        bottom: 0;
        right: 0;
    }

    .chi{
        transform: translate(-100%,50%);
    }

    .sho{
        width: 15%;
        top: 50%;
        right: 0;
        transform: translate(100%, -45%);
    }

}

//reglage du dégradé au bas de la page home
.fondu{
    background: linear-gradient(transparent, black);
    height: 125px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 200;

    @media all and (max-width: 1024px){
        height: 100px;
    }
    @media all and (max-width: 960px){
        height: 80px;
    }
    @media all and (max-width: 450px){
        height: 50px;
    }
}

//contenu de la page home
%flex-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.text{
    font-family: "Russo One", sans-serif;
    width: 60%;
    padding-top: 180px;
    @media all and (max-height:810px){
        padding-top: 90px;
    }
    // @media all and (max-height:700px){
    //     padding-top: 70px;
    // }
    @media all and (max-width: 46px){
        padding-top: 100px;
    }
    @extend %flex-column;

    .fest{
        color: #FFD267;
        @extend %flex-column;
        text-shadow: $textBorder;
        margin-bottom: 30px;
        text-align: center;
        
        h4{
            font-size: 24px;
        }
        h1{
            font-size: 48px;
            @media all and (max-width: 1130px){
                font-size: 40px;
            }
        }
        h3{
            font-size: 26px;
        }
    }
    img{
        width: 45%;
        margin-bottom: 45px;
        @media all and (max-width: 1130px){
            width: 55%;
        }
        @media all and (max-height:700px){
            width: 45%;
        }
    }
    .date{
        font-size: 40px;
        line-height: 50px;
        color: $yellow;
        text-shadow: $textBorder;
        filter: drop-shadow(0 0 3px $yellow);
    }
    .countdowns{
        @extend %flex-column;
        margin-bottom: 50px;
        @media all and (max-width: 1130px){
            margin-bottom: 20px;
        }

        h4{
            font-size: 20px;
            text-align: center;
        }
        .countdown{
            font-size: 26px;
        }
    }
    .btn{
        background-color: black;
        font-size: 24px;
        padding: 10px 30px;
        border-radius: 30px;
        outline: 0.5px solid $yellow;
        display: block;
        text-decoration: none;
        color: $yellow;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
    }
}